In beginning to clean up the code, as mentioned Mary Lauren began to clean up the code initially by creating a data path to the data, and following by reading in each of the data sets given the data path and file name. From there,

In [4]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy  as np
import csv
data_path = "/Users/geenaildefonso/Downloads/DataP/"

In [16]:
###
#   Mary Lauren Benton, 2017
###

###
#   imports & variables
###





###
#   ADT
### 
adt = pd.read_csv(data_path+"FONNESBECK_ADT.csv", na_values=[''], 
                  parse_dates=['Admission_date', 'Event_Date', 'DISCHARGE_DATE'],
                  encoding = "ISO-8859-1")
adt.head()

# rename the columns and replace event strings with simpler versions
# #todo -- expand categorical variables using get_dummies
adt_clean = (adt
             .rename(columns={"RUID": "patient_id", 
                              "Event":"adt_event", 
                              "Admission_date": "admission_date",
                              "Event_Date": "adt_event_date", 
                              "SRV_CODE": "srv_code",
                              "CHIEF_COMPLAINT": "chief_complaint", 
                              "DISCHARGE_DATE": "discharge_date"})
             .replace({'adt_event': {'.*Admit': 'admit',
                                     '.*Discharge': 'discharge', 
                                     '.*Transfer': 'transfer'}}, regex=True))

adt_clean.head()

# calculate the amount of missing data in the ADT table
adt_clean.isnull().sum()

# presumably only discharges will have discharge dates; these actual missing data
# #todo -- decide how to handle missing dates
(adt_clean[adt_clean.adt_event == 'discharge']).isnull().sum()

patient_id           0
adt_event            0
admission_date       2
adt_event_date       0
srv_code             0
chief_complaint    265
discharge_date       0
dtype: int64

In [17]:
df = pd.DataFrame(adt_clean, columns = ['patient_id','adt_event','admission_date', 'discharge_date'])
df = df[df.adt_event != 'transfer']
df = df[df.adt_event != 'discharge']
# adt_final
df_adt = df[['patient_id','admission_date', 'discharge_date']]
df_adt = df_adt.sort_values('admission_date')
df_adt = df_adt.sort_values('patient_id')
df_adt.head()

    patient_id admission_date discharge_date
0     50135262     2007-02-08     2007-02-12
21    50135262     2007-08-03     2007-08-06
34    50135262     2014-11-15     2014-11-18
26    50135262     2007-08-28     2007-08-29
28    50135262     2012-09-15     2012-09-22

In [20]:
###
#   BMI
###
bmi = pd.read_csv(data_path+"FONNESBECK_BMI.csv", parse_dates=['Date_BMI'], infer_datetime_format=True)
bmi.head()

bmi_clean = (bmi
             .rename(columns={"RUID": "patient_id", 
                              "BMI": "bmi",
                              "Date_BMI": "bmi_date", 
                              "BMI_Weight": "weight",
                              "BMI_Height": "height", 
                              "Pregnancy_Indicator": "pregnant"}))
bmi_clean['bmi_date'] = pd.to_datetime(bmi_clean.bmi_date, errors='coerce')
bmi_clean.head()

# small amount of missingness
# #todo -- possible to fill in missing if same patient
# bmi_clean.isnull().sum()
df_bmi = bmi_clean.drop_duplicates(subset='bmi_date')
df_bmi = df_bmi[['patient_id', 'bmi', 'bmi_date']]
df_bmi.head()
# df_bmi = df_bmi.sort_values('bmi_date')
# df_bmi.head()
# df_bmi = df_bmi.sort_values('patient_id', inplace=True)
# df_bmi = df_bmi.sort(df_bmi.bmi_date.tolist())
# for i in x['patient_id']:
#     if x['bmi_date'] = 
        
# df = bmi_clean.groupby('bmi_date',sort=True).sum()

   patient_id    bmi   bmi_date
0    50135262  41.43 2005-01-09
1    50135262  22.86 2011-02-11
2    50135262  43.07 2011-02-12
5    50135262  41.13 2011-02-13
7    50135262  40.29 2011-02-14

In [89]:
merge_df = df_adt.merge(df_bmi, how = "outer", on= "patient_id")

In [94]:
merge_df.dropna().head()

   patient_id admission_date discharge_date    bmi   bmi_date
0    50135262     2007-02-08     2007-02-12  41.43 2005-01-09
1    50135262     2007-02-08     2007-02-12  22.86 2011-02-11
2    50135262     2007-02-08     2007-02-12  43.07 2011-02-12
3    50135262     2007-02-08     2007-02-12  41.13 2011-02-13
4    50135262     2007-02-08     2007-02-12  40.29 2011-02-14

In [ ]:
merge_df[merge_df[df_adt['admission_date']] == merge_df[df_bmi['bmi_date']]]

In [95]:
df1 = pd.DataFrame(df_adt, columns= ['patient_id','admission_date', 'discharge_date'])
df2 = pd.DataFrame(df_bmi, columns= ['bmi', 'bmi_date'])
df3 = pd.concat([df1,df2],axis=1).dropna()
df3.head()

    patient_id admission_date discharge_date    bmi   bmi_date
0   50135262.0     2007-02-08     2007-02-12  41.43 2005-01-09
5   50135262.0     2011-02-11     2011-02-23  41.13 2011-02-13
11  50135262.0     2008-02-24     2008-02-28  40.20 2011-02-18
14  50135262.0     2008-04-12     2008-04-13  44.05 2012-03-12
18  50135262.0     2012-05-23     2012-05-27  47.58 2008-04-13

In [26]:
unique_ids_adt = df_adt.patient_id.unique()
print(len(unique_ids_adt))
unique_ids_bmi = df_bmi.patient_id.unique()
print(len(unique_ids_bmi))

7914
740

In [24]:
df_bmi.bmi_date.min()

Timestamp('1994-07-05 00:00:00')

In [46]:
patients_bmi = np.zeros(len(unique_ids_bmi))
for p, count in zip(unique_ids_bmi, range(len(unique_ids_bmi))):
    p_df = df_bmi[df_bmi.patient_id == p]
    p_df = p_df.reset_index(drop = True)
    for i in range(len(p_df)):
#         date = p_df.loc[i].bmi_date
        date = p_df.loc[i][p_df['bmi_date'] == p_df.bmi_date.min(), 'patient_id']
#         bmi = p_df.loc[i]['bmi']
        
            
    


# patients_bmi = np.zeros(len(unique_ids))
# print(len(unique_ids))
# for p, count in zip(unique_ids, range(len(unique_ids))):
# #make a subsetted dataframe of just that ID
#     p_df = x[x.patient_id == p]
#     print(p_df)
#     p_df=p_df.reset_index(drop=True)
#     #for each discharge_date in that list:
#     for i in range(len(p_df)):
#     #compare the discharge date to all of the admission dates in list
#         admission = p_df.loc[i]["admission_date"]
#         for j in range(len(p_df)):
#             bmi = df_bmi.loc[j]["bmi_date"]
#             if (admission == bmi):
#                 df_new
#                 patients_readmitted[count]=patients_readmitted[count]+1

ValueError: Can only tuple-index with a MultiIndex

In [72]:
###
#   BP
###
bp = pd.read_csv(data_path+"FONNESBECK_BP.csv", parse_dates=['Measure_date'], infer_datetime_format=True)
bp.head()

bp_clean = (bp
            .rename(columns={"RUID": "patient_id", 
                             "SYSTOLIC": "systolic",
                             "DIASTOLIC": "diastolic", 
                             "Measure_date": "bp_date"}))
bp_clean['bp_date'] = pd.to_datetime(bp_clean.bp_date, errors='coerce')
bp_clean.head()

# only missing dates, may not need to address
# bp_clean.isnull().sum()

   patient_id  systolic  diastolic    bp_date
0    50135262       150         80 2005-01-09
1    50135262       137         77 2007-02-08
2    50135262       137         78 2007-02-08
3    50135262       190         78 2007-02-08
4    50135262       190         77 2007-02-08

In [57]:
###
#   CPT
###
cpt = pd.read_csv(data_path+"FONNESBECK_CPT.csv", parse_dates=['Event_date'], infer_datetime_format=True)
cpt.head()

cpt_clean = (cpt
             .rename(columns={"RUID": "patient_id", 
                              "CPT_Code": "cpt_code",
                              "Event_date": "cpt_event_date"}))
cpt_clean.to_csv('/Users/geenaildefonso/Downloads/DataP/df_cpt_clean.csv')
cpt_clean.head()

# no missing data
# cpt_clean.isnull().sum()
cpt_clean

         patient_id cpt_code cpt_event_date
0          50135262    00001     2004-11-28
1          50135262    00005     2012-05-03
2          50135262    00025     2007-02-08
3          50135262    00025     2004-11-16
4          50135262    00030     2007-02-08
5          50135262    00030     2007-02-09
6          50135262    00030     2011-02-11
7          50135262    00030     2007-02-12
8          50135262    00030     2007-02-15
9          50135262    00030     2007-02-16
10         50135262    00030     2007-02-22
11         50135262    00030     2007-02-23
12         50135262    00030     2008-02-24
13         50135262    00030     2008-04-12
14         50135262    00030     2012-05-02
15         50135262    00030     2007-08-03
16         50135262    00030     2012-09-15
17         50135262    00030     2012-09-16
18         50135262    00030     2012-09-17
19         50135262    00030     2012-09-18
20         50135262    00030     2012-09-22
21         50135262    00030     2014-11-15
22         50135262    00051     2011-02-14
23         50135262    10180     2011-10-29
24         50135262    11721     2010-06-26
25         50135262    27487     2012-09-17
26         50135262    27511     2007-02-09
27         50135262    29824     2006-08-27
28         50135262    29827     2006-08-27
29         50135262    29999     2006-08-27
...             ...      ...            ...
3827358    53736422    J7060     2006-04-27
3827359    53736422    J7120     2006-07-22
3827360    53736422    P9016     2006-04-21
3827361    53736422    P9016     2006-04-22
3827362    53736422    P9016     2006-04-26
3827363    53736422    P9016     2006-04-28
3827364    53736422    P9016     2006-05-04
3827365    53736422    P9017     2006-04-21
3827366    53736422    P9017     2006-04-22
3827367    53736422    P9017     2006-04-27
3827368    53736422    P9031     2006-04-22
3827369    53736422    P9045     2006-04-22
3827370    53736422    Q9952     2007-02-28
3827371    53736422    V2020     2007-10-19
3827372    53736422    V2025     2007-10-19
3827373    53736422    V2100     2007-10-19
3827374    53736422    V2103     2007-10-19
3827375    53736423    00031     2006-04-23
3827376    53736423    00031     2006-04-24
3827377    53736423    00031     2006-04-25
3827378    53736423    54150     2006-04-24
3827379    53736423    82247     2006-04-25
3827380    53736423    82248     2006-04-25
3827381    53736423    82962     2006-04-23
3827382    53736423    84030     2006-04-25
3827383    53736423    86850     2006-04-25
3827384    53736423    86880     2006-04-25
3827385    53736423    86900     2006-04-25
3827386    53736423    86901     2006-04-25
3827387    53736423    90744     2006-04-23

[3827388 rows x 3 columns]

In [56]:
###
#   EGFR
###
egfr = pd.read_csv(data_path+"FONNESBECK_EGFR.csv", parse_dates=['egfr_date'], infer_datetime_format=True)
egfr.head()

egfr_clean = (egfr
              .rename(columns={"RUID": "patient_id", 
                               "EGFR": "egfr"}))
egfr.to_csv('/Users/geenaildefonso/Downloads/DataP/df_egfr_clean.csv')
egfr_clean.head()

# no missing data
egfr_clean.isnull().sum()

patient_id    0
egfr          0
egfr_date     0
dtype: int64

In [55]:
###
#   ICD9
###
icd9 = pd.read_csv(data_path+"FONNESBECK_ICD9.csv", parse_dates=['Event_date'], infer_datetime_format=True)
icd9.head()

icd9_clean = (icd9
              .rename(columns={"RUID": "patient_id", 
                               "ICD9_Code": "icd9_code",
                               "Event_date": "icd9_event_date"}))
icd9_clean.to_csv('/Users/geenaildefonso/Downloads/DataP/df_icd9_clean.csv')
icd9_clean.head()

# no missing data
icd9_clean.isnull().sum()

patient_id         0
icd9_code          1
icd9_event_date    0
dtype: int64

In [54]:
###
#   LAB
###
lab = pd.read_csv(data_path+"FONNESBECK_LAB.csv", parse_dates=['Lab_date'], 
                  infer_datetime_format=True, quoting=csv.QUOTE_NONE, na_values=['>'])
lab.head()

lab_clean = (lab
             .rename(columns={"RUID": "patient_id", 
                              "Lab_name": "short_lab_name",
                              "Lab_date": "lab_date", 
                              "Lab_value": "lab_value"}))
lab_clean.head()

# decent number of missing lab values
# may be able to impute missing values if same patient 
lab_clean.isnull().sum()
lab_clean.to_csv('/Users/geenaildefonso/Downloads/DataP/lab_clean_clean.csv')

In [51]:
###
#   MED
###
med = pd.read_csv(data_path+"FONNESBECK_MED.csv", parse_dates=['Entry_Date'], infer_datetime_format=True)
med.head()

med_clean = (med
             .rename(columns={"RUID": "patient_id", 
                              "Entry_Date": "drug_entry_date",
                              "Drug_Name": "drug_name", 
                              "DRUG_FORM": "drug_form",
                              "DRUG_STRENGTH": "drug_strength",
                              "Route": "drug_route",
                              "Dose_Amt": "drug_dose",
                              "Drug_Freq": "drug_freq",
                              "Duration": "drug_duration"}))
med_clean.head()

# lots of missing data in this table
# many cols likely uninformative; drug_name might be most useful
med_clean.isnull().sum()
med_clean = med_clean[['patient_id', 'drug_entry_date', 'drug_name']]

In [53]:

###
#   PHENOTYPE
###
phenotype = pd.read_csv(data_path+"FONNESBECK_phenotype.csv", parse_dates=['DOB', 'DOD'], infer_datetime_format=True)
# print(phenotype.head())

phenotype_clean = (phenotype
                   .rename(columns={"RUID": "patient_id", 
                                    "Sex": "sex",
                                    "DOB": "DOB", 
                                    "DOD": "DOD",
                                    "Race": "race"})
                   .replace({'sex':  {'F': 0,'M': 1, 'U': 'NaN', '.': 'NaN', 'NA': 'NaN'}}))
phenotype_clean.head()

# lots of missing DOBs and sex
# living patients will have missing DOD
# #todo -- decide whether to collapse race into fewer categories
# phenotype_clean.isnull().sum()
# phenotype_clean.head()
df_pheno = phenotype_clean[['patient_id','sex', 'DOB', 'race']]
df_pheno.to_csv('/Users/geenaildefonso/Downloads/DataP/df_pheno_clean.csv')